body {
    text-align:center;
    background:#000;
    overflow:hidden;
  }

h1,h2 {
    display: block;
    text-align: center;
    margin-top: 10%;
    font-family: Poppins,monospace;
    color: #1e6163;
}

p{
    top:20%;
    font-family: Poppins,monospace;
    font-size: 20px;
    color: #1e6163;
}

a {
    text-decoration: none;
    color: black;
}

a:hover {
    text-decoration: none;
    color: #1d2937;
    cursor: pointer;
}

button{
    background: none;
    border: 0;
    box-sizing: border-box;
    margin: 1em;
    padding: 1em 2em;
    margin-top:35%;
    
    box-shadow: inset 0 0 0 2px #1e6163;
    color: #1e6163;
    font-size: inherit;
    font-weight: 700;
  
    position: relative;
    vertical-align: middle;
  
    &::before,
    &::after {
      box-sizing: inherit;
      content: '';
      position: absolute;
      width: 100%;
      height: 100%;
    }
}

@media only screen and (max-width:600px) {
    button {
        margin-top:70%;

    }

}

